[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}
[type="date"]::-webkit-clear-button {
  display: none;
}

/* Main Style */
